/* 로그인 성공 화면 */

html {
	font-family: 'NanumSquareRound'; /* 페이지 전체 폰트 스타일 */
}

.button-custom{
	width: 240px;
  	height: 50px;
  	margin-top: 30px;
}

.welcome-wrap{
	text-align: center;
}
.welcome-wrap img{
	width: 560px;
	margin-top: 40px;
}
.success-message {
  text-align: center;
  margin: 20px;
}

.button-login {
  text-align: center;
  margin: 20px;
}


