/* 로그인 화면 */

/* 로그인 */
h3 {
  text-align: center;
  margin: 20px;
}

/* 로그인 버튼 */
.button-login {
  text-align: center;
  margin: 10px;
}

.button-custom {
  width: 250px;
  height: 50px;
}

/* 로그인 input */
.input-wrap {
  text-align: center;
}


/* 아이디 저장하기 */
.check-id{
	text-align: center;
	margin-left: -132px;
}

#checkId{
	color: #ff7c00;
}

/* 경고 메세지 */
.error_message-wrap {
  text-align: center;
}

.error_message-wrap span {
  color: #ff7c00;
}

.error-fail {
  color: #ff7c00;
}

/* 가입 안내 메세지 */
.to-join {
  text-align: center;
}

.to-join a {
  color: #fffaf6;
  transition: all 0.3s ease;
}

.to-join a:hover {
  transition: all 0.3s ease;
  color: #ff7c00;
}
