/* 로그인 화면 */

/* 로그인 */
h3 {
  text-align: center;
  margin-bottom: 20px;
}

/* 로그인 버튼 */
.button-login {
  text-align: center;
  margin: 10px;
}

.button-custom {
  width: 250px;
  height: 50px;
}

/* 로그인 input */
.input-wrap {
  text-align: center;
}

/* 경고 메세지 */
.error_message-wrap {
  text-align: center;
}

.error-massage {
  color: #ff7c00;
}

.error-fail {
  color: #ff7c00;
}

/* 가입 안내 메세지 */
.to-join {
  text-align: center;
  color: #ff7c00;
}
