@charset "UTF-8";

html {
	font-family: 'NanumSquareRound'; /* 페이지 전체 폰트 스타일 */
}

.navbar li>a {
	font-family: 'NanumSquareRound';
	font-weight: bold;
	font-size: 18px;
}

.main-input {
	width: 260px;
	/* height: 25px; */
	padding: 13.5px;
}

#box-office-poster {
	width: 200px;
}

.box-office {
	border: 1px solid red;
	margin-top: 5%;
}

.box-office-list {
	border: 1px solid blue;
	display: inline-block;
	width: 80%;
	height: 300px;
	margin: 3% 10%;
}

.highest-rated-movies {
	border: 1px solid green;
	margin-top: 10%;
}

.highest-rated-movies h3 {
	margin-bottom: 10px;
}

.movies {
	border: 1px solid blueviolet;
}

.movie-box {
	border: 1px solid cornflowerblue;
	display: inline-block;
	width: 18%;
	height: 20.8%;
	margin: 10px 10px 10px 8px;
	vertical-align: top;
}

.movie-box img {
	width: 213px;
	height: 300px;
	/* rgba(0, 0, 0, 0.2) 그림자 효과*/
	box-shadow: 0 8px 15px 0 rgba(238, 233, 233, 0.2);
	border-radius: 3%;
	text-align: left;
}

.movie-box a {
	display: block;
	height: 100%;
	border: 1px solid khaki;
}

.cont-detail {
	border: 1px solid orange;
	height: 100px;
}

.title {
	border: 1px solid yellowgreen;
	font-size: 1.05rem;
	font-style: bold;
	height: 45px;
}

.title a {
	color: white;
}

.title a:hover {
	color: #ff7c00;
}

.release-date {
	border: 1px solid rebeccapurple;
}

.star-rate {
	border: 1px solid rebeccapurple;
}

.new-reviews {
	border: 1px solid yellow;
	height: 390px;
}

.new-reviews h3 {
	display: block;
	font-size: 1.17em;
	margin-block-start: 1em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

.new-reviews .more h3{
	font-size: 1em;
	text-align: right;
	margin-right: 20px;
}

.more a{
	color: #fffaf6;
}

.new-reviews-box {
	border: 2px solid red;
	margin: 14px 15px;
	display: block;
	    height: 300px;
}

.review-card {
	display: inline-block;
    border: 2px solid #FF7C00;
    border-radius: 15px;
    height: 290px;
    width: 260px;
    padding: 19px;
    vertical-align: top;
    margin: 0px 12px;
}

.review-header {
border-bottom: 1px solid gold;
    margin: 2px;
    height: 55px;
    display: block;
}

.review-img {
	display: inline-block;
}

.review-nickname {
	display: inline-block;
	vertical-align: top;
	margin: 15px auto 15px 10px;
}

.review-img img {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	display: inline-block;
}

.review-body {
	display: block;
	border: 1px solid firebrick;
	overflow: hidden;
	word-break: break-all;
	margin: 2px;
	height: 175px;
}

.review-body a {
	color: #FFFAF6;
	margin: 5px;
}

.review-body-text {
	display: -webkit-box;
	margin: 12px;
	-webkit-line-clamp: 8; /* 라인수 */
	-webkit-box-orient: vertical;
	line-height: 1.15em;
	height: 9.2em; /* line-height 곱하기 -webkit-line-clamp */
	overflow: hidden;
}

.review-body-text>p {
	display: block;
}

.review-comment {
	display: inline-block;
	border: 1px solid teal;
	margin-left: 130px;
}

.review-comment div {
	display: inline-block;
}

/*슬라이드************************************/

/* Slideshow container */
.slideshow-container {
	max-width: 1440px;
	position: relative;
	margin: auto;
	margin-top: 120px;
}

/* effect */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}


/*별점*/
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}

}
  
  .starPointText{
	float: right;
    margin: 5px 0px 0px 0px;
    font-size: 12px;
	letter-spacing: 2px;
}

.starPoint{
    float: right;
    margin-right: 5px;
}
  
  .star{
	position: relative;
	font-size: 20px;
	color: #fffc;
}
  
.star input{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.star-box{
	height: 50px;
}
  
.star span{
	width: 0;
	position: absolute; 
	left: 0;
	color: #FF7C00;
	overflow: hidden;
	pointer-events: none;
}