@charset "UTF-8";

/* li, ul 태그 초기화(프론트할 때 공통으로 사용하는 css에 넣어서 초기화한 후 사용하면 좋을 것 같음) */
li, ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

/* 정렬 기준 select 박스가 담긴 div */
.riShorSelect{
    height: 200px;
    border: 1px solid red;
}

/* 정렬 기준 select 박스가 담긴 div */
.riGenreBar{
    margin: 0px 0px 0px 100px;
    padding: 30px;
    width: 200px;
    float: left;
    border: 1px solid blue;
}

.riGenreBar li{
    padding: 8px;
}

/* 정렬 기준 select 박스가 담긴 div */
.riListContainer{
    margin: 0px 100px 0px 0px;
    height: 500px;
    width: 1000px;
    float: right;
    border: 1px solid green;
}
