@charset "UTF-8";

.movie-content{
  border: 1px solid cornflowerblue;
  width:100%;

}

.movie-info{
  border: 5px solid red;
    text-align:center;
}

.movie-details1  {
  display: inline-block; 
  border: 1px solid cornflowerblue;
    width: 25%;
  height: auto ;

}

.movie-details1 h2{
	  margin-bottom: 10px;
}

.movie-details2{
	display: inline-block; 
	border: 3px solid cornflowerblue;
	height: 100% ;
	text-align:left;
	margin: 2px;
}

/*
.movie-info h3 {

}
*/


.movie-info img{
   width: 100%;
   height: 100%;

}

.rd-g-n{

border: 1px solid rosybrown;

}
.rd-g-n div{
  display: inline-block; 
  border: 1px solid rosybrown;
  margin: 1%
}

.star{
margin: 1%
}

.rt-ot-r{

}

.rt-ot-r div{
  border: 1px solid yellow;
  margin: 1%
}

.review-button{
width: 200px;
height: 50px;	
border: 2px solid white;
}

.overview{
  border: 4px solid #FF7C00;
  border-radius: 15px;
  height: 200px;
  margin: 2% 0%;
}

.overview h3{
	margin: 10px 5px;
}

.overview div{
	margin: 5px;
	word-spacing: 3px;
}

.cast-list{
border: 4px solid #FF7C00;
  border-radius: 15px;
  height: 200px;
  margin: 2% 0%;
}

.cast-list h3{
	margin: 10px 5px;
}

.cast-cards{
	border: 3px solid blue;
	margin: 1% 10%;
	 text-align: center;
}
.cast-card {
  display: inline-block; 
 
  border: 1px solid magenta;
  margin: 1% 2%;
  width: 27%;

}

.cast-card img{
    width: 70px;
   height: auto;
}


.cast-card .cast-name{
  display: inline-block; 
}


.point {
border: 4px solid #FF7C00;
  border-radius: 15px;
  height: 200px;
  margin: 2% 0%;
}

.review-list{
  border: 1px solid yellow;
}

.review-card{
  display: inline-block; 
border: 4px solid #FF7C00;
  border-radius: 15px;
  height: 300px;
  width: 250px;
  margin: 0px 3px;
}

.review-header{
 
  border: 1px solid gold;
}

.review-header div{
  display: inline-block; 
}

.review-header img {
  width: 50px;
  height: auto;
}

.review-body{
  border: 1px solid firebrick;
  height: 70%;
}

.review-like{
  display: inline-block; 
  border: 1px solid teal;
}

.review-like div{
  display: inline-block; 
}