@charset "UTF-8";

html {
	font-family: 'NanumSquareRound'; /* 페이지 전체 폰트 스타일 */
}

.main-input{
	width: 240px;
	height: 25px;
	padding: 10px;
}

.movie-content{

  width:100%;

}

.movie-info{
 
    text-align:center;
   margin: 15px 0px 7px -20px;
}

.movie-details1  {
  display: inline-block; 

   

}

.movie-details1-img{
	 width: 300px;
  height: 400px;
}

.movie-details2 h2{
	  margin-bottom: 10px;
}

.movie-details2{
	display: inline-block; 

	height: 400px ;
	 width: 70%;
	text-align:left;
	vertical-align: top;
}

.movie-details2 h2{
	font-size: 2em;
	margin: 2%;
}

/*
.movie-info h3 {

}
*/


.movie-info img{
   width: 100%;
   height: 400px;
   border-radius: 3%;
height: 425px;
}


.rd-g-n div{
  display: inline-block; 

  margin: 0% 1% 0% 2%;
  font-size: 1em;
}

/**********************/
.star{
margin: 2%;
font-size: 1em;
}
/**************************/


.rt-ot-r div{

  margin: 2%;
  font-size: 1em;
}

/* 후기 작성 버튼 */
.review-button{
	/*버튼의 위치*/
	border-radius: 15px;
	font-size: 30px;
	margin: 2%;
	text-align: left;
}

.button-custom{
	width: 200px; /*버튼 크기 조절*/
	height: 50px;
	line-height: 50px;	
}

.overview{
  border: 2px solid #FF7C00;
  border-radius: 15px;
  height: 200px;
  margin: 2% 0%;
}

.overview h3{
	margin: 10px 10px;
}

.overview div{
	margin: 10px;
	word-spacing: 3px;
}

.cast-list{
border: 2px solid #FF7C00;
  border-radius: 15px;
  height: 350px;
  margin: 2% 0%;
 
}

.cast-list h3{
	margin: 10px 10px;
}

.cast-cards{

	margin: 1% 10%;
	 text-align: center;
	 
}
.cast-card {
  display: inline-block; 
  text-align: left;

  margin: 1% 2%;
  width: 28%;


}

.cast-card img{
    width: 70px;
   height: auto;
}


.cast-card .cast-name{

	display: inline-block; 
  vertical-align: top;
  margin-top: 18px; 
  margin-left:3px;
word-break:break-all;
width: 180px;

}


.point {
border: 2px solid #FF7C00;
  border-radius: 15px;
  height: 200px;
  margin: 2% 0%;
}

.new-reviews {
	border: 1px solid yellow;
	height: 430px;
}

.new-reviews h3 {
	display: block;
	font-size: 1.17em;
	margin-block-start: 1em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

.new-reviews .more p{
	font-size: 1em;
	text-align: right;
	margin-right: 20px;
}

.more a{
	color: #fffaf6;
}

.new-reviews-box {
	border: 2px solid red;
	margin: 14px 15px;
	display: block;
	    height: 330px;
}

.review-card {
	display: inline-block;
    border: 2px solid #FF7C00;
    border-radius: 15px;
    height: 290px;
   width: 219px;
    padding: 19px;
    vertical-align: top;
    margin: 0px 12px;
}

.review-header {
border-bottom: 1px solid gold;
    margin: 2px;
    height: 55px;
    display: block;
}

.review-img {
	display: inline-block;
}

.review-nickname {
	display: inline-block;
	vertical-align: top;
	margin: 15px auto 15px 10px;
}

.review-img img {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	display: inline-block;
}

.review-body {
	display: block;
	border: 1px solid firebrick;
	overflow: hidden;
	word-break: break-all;
	margin: 2px;
	height: 210px;
}

.review-body a {
	color: #FFFAF6;
	margin: 5px;
}

.review-body-text {
	display: -webkit-box;
	margin: 12px;
	-webkit-line-clamp: 8; /* 라인수 */
	-webkit-box-orient: vertical;
	line-height: 1.15em;
	height: 9.2em; /* line-height 곱하기 -webkit-line-clamp */
	overflow: hidden;
}

.review-body-text>p {
	display: block;
}

.review-comment {
	display: inline-block;
	border: 1px solid teal;
	margin-left: 138px;
}

.review-comment div {
	display: inline-block;
}

.review-body-null a {
	display: block;
	text-align: center;
	margin-top: 115px;
	font-size: 25px;
	color: white;
}

.review-body-null a:hover {
	color: #ff7c00;
}

