@charset "UTF-8";

.movie-content{

  width:100%;

}

.movie-info{
 
    text-align:center;
}

.movie-details1  {
  display: inline-block; 

    width: auto;
  height: 400px;

}

.movie-details1 h2{
	  margin-bottom: 10px;
}

.movie-details2{
	display: inline-block; 

	height: 400px ;
	 width: 300px;
	text-align:left;
	vertical-align: top;
}

.movie-details2 h2{
	font-size: 2em;
	margin: 4%;
}

/*
.movie-info h3 {

}
*/


.movie-info img{
   width: 100%;
   height: 400px;

}

.rd-g-n{



}
.rd-g-n div{
  display: inline-block; 

  margin: 4%;
  font-size: 20px;
}

.star{
margin: 4%;
font-size: 20px;
}

.rt-ot-r{

}

.rt-ot-r div{

  margin: 4%;
  font-size: 20px;
}

.review-button{

	border-radius: 15px;
	font-size: 30px;
	width: 150px;
	margin: 5% 0% 5% 4%;

}

.button-custom{
	width: 150px;
	height: 50px;	


}

.overview{
  border: 4px solid #FF7C00;
  border-radius: 15px;
  height: 200px;
  margin: 2% 0%;
}

.overview h3{
	margin: 10px 10px;
}

.overview div{
	margin: 10px;
	word-spacing: 3px;
}

.cast-list{
border: 4px solid #FF7C00;
  border-radius: 15px;
  height: 350px;
  margin: 2% 0%;
 
}

.cast-list h3{
	margin: 10px 10px;
}

.cast-cards{

	margin: 1% 10%;
	 text-align: center;
	 
}
.cast-card {
  display: inline-block; 
  text-align: left;

  margin: 1% 2%;
  width: 28%;


}

.cast-card img{
    width: 70px;
   height: auto;
}


.cast-card .cast-name{

	display: inline-block; 
  vertical-align: top;
  margin-top: 18px; 
  margin-left:3px;
word-break:break-all;
width: 180px;

}


.point {
border: 4px solid #FF7C00;
  border-radius: 15px;
  height: 200px;
  margin: 2% 0%;
}

.review-list{


}

.review-card{
  display: inline-block; 
border: 4px solid #FF7C00;
  border-radius: 15px;
  height: 160px;
  width: 250px;
  padding: 19px;

  
  
}

.review-header{
 

  margin: 5px;
}

.review-header div{
  display: inline-block; 
  vertical-align: middle;
}

.review-header img {
  width: 50px;
  height: auto;
  border-radius: 25px;
}

.review-body{

  height: 60px;
   overflow: hidden;  		
  text-overflow: ellipsis;  
  white-space: nowrap; 		
  word-break:break-all;
  margin: 2px;
  border-top: 1px solid #A8A39D;
  

}

.review-body a{
	color: #FFFAF6;
	margin: 5px;
}

.review-like{
  text-align: right;
  margin: 5px;
}

.review-like div{
  display: inline-block; 
}