@charset "UTF-8";

.navbar{
	background-color: #FF7C00;
	width: 100%;
}
.navbar li{
	display: inline-block;
}
.navbar li>a {
	display: block;
	padding: 5px 20px;
	color: #2A2725;
}

.header{
	width: 100%;
}