@charset "UTF-8";

/*스타일 공통 부분*/
* {
	/* 기본적인 body 요소 여백 제거 */
	margin: 0;
	padding: 0;
	/* box-sizing: border-box; */
}

html {
	background-color: #2a2725;
	color: #fffaf6;
	font-family: 'NanumSquare', sans-serif; /* 페이지 전체 폰트 스타일 */
}

body {
	min-height: 100vh;
	min-width: 1536px;
	height: 100%;
	margin: 0 auto;
}

ul, ol, li {
	list-style: none;
}

a, a:visited {
	text-decoration: none;
	/* color: #fffaf6; */
	cursor: pointer;
}

.content {
	height: auto;
	min-height: 100%;
	padding-bottom: 100px; /* = footer 높이*/
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	border: 1px solid blue;
}