@charset "UTF-8";

/*관리자 헤더*/

*{
	font-family: 'NanumSquareRound';
}
html {
	font-family: 'NanumSquareRound'; /* 페이지 전체 폰트 스타일 */
}

.navbar-menu-wrap{
	margin-top: 15px;
	
}
.navbar-menu span, navbar-right{
	font-size: 16px;
}

/* 메뉴바 */
.navbar {
  background-color: #ff7c00;
  width: 100%;
  overflow: hidden;
}

.navbar ul{
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.navbar-left {
  float: left;
}

.navbar-right {
  float: right;
}

.navbar li {
  display: inline-block;
}
.navbar li > a {
  display: block;
  padding: 5px 10px;
  color: #2a2725;
  font-weight: bold;
  font-size: 18px;
  font-family: 'NanumSquareRound';
}


/* 메뉴바의 로고 */
.nav-logo {
  display: block;
  margin-top: 14px;
  margin-left: 20px;
  margin-right: 20px;
  float: left;
}

.nav-logo > a > img {
  width: 54px;
}

.admin-nickname{
	color: #FFFAF6;
}

/* 전체 페이지 로고 */
.logo {
  display: block;
  text-align: center;
}

.logo > a > img {
  margin: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 356px;
}

/* 메뉴바 관리자 프로필 사진 */
.admin-icon {
  margin: 5px;
  line-height: 30px;
  font-weight: bold;
}

#admin-Img {
  border-radius: 15px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  object-fit: cover; /*이미지 비율 조절*/
  margin-right: 5px;
}

