@charset "UTF-8";
html {
	font-family: 'NanumSquareRound'; /* 페이지 전체 폰트 스타일 */	
}

/* 관리자 홈 페이지 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: #2A2725;
}
a{
  text-decoration-line: none;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #2A2725;
}
::-webkit-scrollbar-thumb {
  background: #ff7c00;
  border-radius: 12px;
  transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff7c00;
}
.dashboard{
	margin-bottom: 200px;
}

/* 관리자 프로필 */
.admin-profile-wrap{
	display: block;
	text-align: center;
	width: 830px;
	height: 310px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}
h3{
	margin-top: 22px;
}
h4{
	text-align: left;
}

.admin-profile{
	display: block;
}
.admin-profile-img{
	display: inline-block;
	margin: 35px 20px 0px -35px;
}

.admin-profile-info{
	display: inline-block;
	vertical-align: top;
	margin: 100px 0px 0px 10px;
}
.admin-profile-img img{
	width: 180px;
	height: 180px;
	border-radius: 90px;
	object-fit: cover; /*이미지 비율 맞춰줌*/
}

/* 관리 기능 메뉴 */
.dash-content{
	text-align: center;
}
.boxes{
	display: block;
}
.box{
	display: inline-block;
	width: 260px;
	height: 310px;
	border: 1px solid #ff7c00;
	vertical-align: middle;
	border-radius: 5px;
	margin: 10px;
}
.box i {
	display: block;
	font-size: 50px;
	margin-top: 90px;
}
.box-text{
	margin-top: 30px;
}
.box a{
	color: #fffaf6;
	transition: all 0.3s ease;
}
.box a:hover{
	color: #ff7c00;
	transition: all 0.3s ease;
}
.box i:hover{
	color: #ff7c00;
	transition: all 0.3s ease;
}

