@charset "UTF-8";
html {
	font-family: 'NanumSquareRound'; /* 페이지 전체 폰트 스타일 */	
}
.updateNoti-area{
    padding: 50px;
}
h2{
    margin-bottom: 20px;
}
input[type="text"], textarea{
    padding: .5em .5em;
}
#niTitle{
    width: 350px;
}
#niCredat{
    width: 80px;
}
#niNum, #niCnt{
    width: 25px;
}
#niNum, #niCredat, #niCnt, #niTitle, #niFilePath, #niContent{
    margin: .6em .6em;
    border: 1px solid #FF7C00;
}
#niFilePath{
	display: none;
}
.btn-upload{
    margin-left: 6px;
    display: inline-block;
    padding: 0.5rem 0.5rem;
    color: #FFFAF6;
    background-color: #43403B;
    border-radius: 5px;
    font-size: 14px
}
.updateBtn, .resetBtn{
    margin-top: 20px;
    border-radius: 5px;
    padding: 0.6rem 0.6rem;
    color: #FFFAF6;
    background-color: #43403B;
}
.updateBtn{
    margin-right: 5px;
}
label{
    display: inline-block;
    vertical-align: middle;
}
#niContent{
    display: inline-block;
    vertical-align: top; 
}
