@charset "UTF-8";
html{
	font-family: 'NanumSquare', sans-serif;
}
.updateNoti-area{
    padding: 50px;
}
h2{
    margin-bottom: 20px;
}
input[type="text"], textarea{
    padding: .4em .4em;
}
#niTitle{
    width: 350px;
}
#niCredat{
    width: 80px;
}
#niNum, #niCnt{
    width: 30px;
}
#niNum{
    text-align: center;
}
#niNum, #niCredat, #niCnt, #niTitle, #niFilePath, #niContent{
    margin: .6em .6em;
    border: 1px solid #FF7C00;
}
.updateBtn, .resetBtn{
    margin-top: 20px;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    color: #FFFAF6;
    background-color: #43403B;
}
.updateBtn{
    margin-right: 5px;
}
