@charset "UTF-8";
.updateNoti-area{
    padding: 50px;
}
h2{
    margin-bottom: 20px;
}
input[type="text"], textarea{
    padding: .5em .5em;
}
#niTitle{
    width: 350px;
}
#niCredat{
    width: 80px;
}
#niNum, #niCnt{
    width: 25px;
}
#niNum, #niCredat, #niCnt, #niTitle, #niFilePath, #niContent{
    margin: .6em .6em;
    border: 1px solid #FF7C00;
}
.updateBtn, .resetBtn{
    margin-top: 20px;
    border-radius: 5px;
    padding: 0.6rem 0.6rem;
    color: #FFFAF6;
    background-color: #43403B;
}
.updateBtn{
    margin-right: 5px;
}
label{
    display: inline-block;
    vertical-align: middle;
}
#niContent{
    display: inline-block;
    vertical-align: top; 
}
