@charset "UTF-8";
html {
	font-family: 'NanumSquareRound'; /* 페이지 전체 폰트 스타일 */	
}
body{
    font-weight: 300;
    line-height: 2em;
    color:#A8A39D;
}
.noticeArea{
    padding: 50px;
}
th, td{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
}
th{
    border-top: 0.5px solid #FF7C00;
    border-bottom: 0.5px solid #FF7C00;
}
td{
    border-top: 0.3px  dotted #A8A39D;
    border-bottom: 0.3px dotted #A8A39D;
}
h2 {
    font-weight: bold;
    color: #FF7C00;
    padding-bottom: 30px;
  }
.noticeTable{
    margin-top: 10px;
}
.noticeTable, th, td{
    border-collapse: collapse;
}
.noticeTable th h4{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #FFFAF6;
}
.noticeTable td{
    font-weight: normal;
    font-size: 14px;
}
.registerBtn{
    margin-top: 12px;
    margin-bottom: 20px;
    background-color: #43403B;
    color: #FFFAF6;
    border-radius: 5px;
    padding: 0.6rem 0.6rem; 
}
input[type="text"]{
    padding: .5em .5em;
    border: 2px solid #FF7C00;
    margin-right: 5px;
    margin-bottom: 20px;
}
.noticeSearch{
    margin-left: 5px;
    border-radius: 5px;
    padding: 0.4rem 0.4rem;
    background-color: #43403B;
    color: #FFFAF6; 
}
.niTitle{
    color: #FFFAF6;
}
.noticeUpdate, .noticeDelete{
    border-radius: 5px;
    padding: .4rem .4rem;
    background-color: #43403B;
    color: #FFFAF6;
}
.noticeUpdate{
    margin-right: 3px;
}