@charset "UTF-8";
html{
	font-family: 'NanumSquare', sans-serif;
}
body{
    font-weight: 300;
    line-height: 2em;
    color:#A8A39D;
}
.reportFile-area{
    padding: 50px;
}
input[type="text"], textarea{
    padding: .5em .5em;
}
input[type="text"]{
    width: 350px;
}
#piTitle, #piCategory, #piFilePath, #piContent{
    margin: .7em .7em;
    border: 1px solid #FF7C00;
}
h5{
    margin-bottom: 10px;
}
h2{
    margin-bottom: 20px;
}
.fileBtn, .resetBtn{
    margin-top: 20px;
    border-radius: 5px;
    padding: 0.6rem 0.6rem;
    color: #FFFAF6;
    background-color: #43403B;
}
.fileBtn{
    margin-right: 5px;
}
label{
    display: inline-block;
    vertical-align: top;
}