@charset "UTF-8";
body{
    font-weight: 300;
    line-height: 1.42em;
    color:#A8A39D;
}
.userArea{
    padding: 50px;
}

h2 {
    font-weight: bold;
    color: #FF7C00;
    padding-bottom: 30px;
  }
  
.userTable{
	border: none;
    /* border: 1px solid #A8A39D; */
    border-collapse: collapse;
    text-align: center;
}

a{
    color: #FF7C00;
}


thead{
	border-top : 1px solid #FF7C00;
	border-bottom : 1px solid #FF7C00;
}
thead {
	margin: 10px;
}
th{
	color: #FFFAF6;
	padding: 20px;
	font-weight: bold;
	font-size: 16px;
}
tbody > tr, td {
	border-bottom : 1px solid #A8A39D;
	padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.profile-img{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	object-fit: cover; /*이미지 비율 조절*/
}

.userTable td{
    font-weight: normal;
    font-size: 14px;
}

.userSearch{
    margin-left: 5px;
    border-radius: 5px;
    padding: 0.3rem 0.3rem;
    background-color: #43403B;
    color: #FFFAF6; 
}
.userUpdate, .userDelete, .acInactiveBtn{
    border-radius: 5px;
    padding: .3rem .3rem;
    background-color: #43403B;
    color: #FFFAF6;
}
.userUpdate{
    margin-right: 3px;
}
.home, .logout{
    border-radius: 5px;
    padding: .5rem .5rem;
    color: #FF7C00;
    background-color: #2a2725;
    border-color: #FF7C00;
    font-weight: bold;
    float: right; 
}
.home{
     margin-right: 7px; 
}
.inactiveList{
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: .4rem .4rem;
    background-color: #43403B;
    color: #FFFAF6;
}