@charset "UTF-8";
html {
	font-family: 'NanumSquareRound'; /* 페이지 전체 폰트 스타일 */	
}
body{
    font-weight: 300;
    line-height: 1.5em;
    color:#A8A39D;
}
.userArea{
    padding: 50px;
    text-align: center;
    display: block;
}
th, td{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
}
th{
    border-top: 0.5px solid #FF7C00;
    border-bottom: 0.5px solid #FF7C00;
}
td{
    border-top: 0.3px  #A8A39D;
    border-bottom: 0.3px dotted #A8A39D;
}
h2 {
    font-weight: bold;
    color: #FF7C00;
    padding-bottom: 30px;
  }
.userTable, th, td{
    border-collapse: collapse;
}
.userTable{
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}
.userTable th h4{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #FFFAF6;
}
.userTable td{
    font-weight: normal;
    font-size: 14px;
}
input[type="text"]{
    padding: .5em .5em;
    border: 2px solid #FF7C00;
    margin-right: 5px;
}
.userSearch{
    margin-left: 5px;
    border-radius: 5px;
    padding: 0.4rem 0.4rem;
    background-color: #43403B;
    color: #FFFAF6; 
}
.uiNickname{
    color: #FFFAF6;
}
.profile-img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover; /*이미지 비율 조절*/
}
.userUpdate, .userDelete, .acInactiveBtn{
    border-radius: 5px;
    padding: .4rem .4rem;
    background-color: #43403B;
    color: #FFFAF6;
}
.userUpdate{
    margin-right: 3px;
}
.inactiveList{
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: .5rem .5rem;
    background-color: #43403B;
    color: #FFFAF6;
}