<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.younggam.app.mapper.MovieInfoMapper">
<!-- 영화 목록 + 페이징 + 검색 -->
<select id="selectMovieInfos" resultType="com.younggam.app.vo.MovieInfoVO">
	select * from Movie_info
	<where>
		<if test='miTitle != null and miTitle != ""'>
		mi_title like concat('%', #{miTitle}, '%')
		</if>
		<if test='miOverview != null and miOverview != ""'>
		and mi_overview like concat('%', #{miOverview}, '%')
		</if> 
	</where>
		order by mi_code desc
</select>

<select id="selectMovieInfo" resultType="com.younggam.app.vo.MovieInfoVO">
	select * from Movie_info
	where mi_code = #{miCode}
</select>

<insert id="addMovieInfo">
	insert into Movie_info(mi_title, mi_orgtitle, mi_open_date, mi_show_time, mi_nation, 
	mi_genre, mi_director, mi_actor, mi_cast, mi_image, mi_overview, mi_adult) values
  	(#{miTitle}, #{miOrgTitle}, DATE_FORMAT(#{miOpenDate}, '%Y-%m-%d'), #{miShowTime}, 
  	#{miNation}, #{miGenre}, #{miDirector}, #{miActor}, #{miCast}, #{miImage}, #{miOverview}, #{miAdult})
</insert>

<update id="updateMovieInfo">
	update Movie_info
	set mi_title = #{miTitle}, mi_orgtitle = #{miOrgTitle}, 
	mi_show_time = #{miShowTime}, mi_nation = #{miNation}, mi_genre = #{miGenre}, mi_director = #{miDirector}, 
	mi_actor = #{miActor}, mi_cast = #{miCast}, mi_overview = #{miOverview}, mi_adult = #{miAdult}
	<if test='miImage != null and miImage != ""'>
	, mi_image = #{miImage}
	</if>
	where mi_code = #{miCode}
</update> 

<delete id="deleteMovieInfo">
	delete from Movie_info where mi_code = #{miCode}
</delete>

</mapper>