<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.younggam.app.mapper.ReviewerInfoMapper">

<select id="selectReviewersInfos" resultType="com.younggam.app.vo.ReviewInfoVO">
	select ui_nickname, ui_file_path   
	from user_info u
	where u.ui_nickname like '%#{uiNickname}%'
</select>

</mapper>