<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.younggam.app.mapper.ReviewInfoMapper">

	<!-- 리뷰 목록 출력 -->
  	<select id="selectReviewInfos" resultType="com.younggam.app.vo.ReviewInfoVO">
		select count(rc_num) rc_count, r.*, u.*
		from user_info u inner join review_info r on u.ui_id = r.ui_id
				left outer join review_comment c on r.ri_num = c.ri_num
		group by r.ri_num
		<choose>
			<when test="sort == null || sort == 'new'">
				order by r.ri_credate desc
			</when>
			<otherwise>
				order by r.ri_credate asc
			</otherwise>
		</choose>
   	</select>
   	
   	<!-- 리뷰 목록 장르 정렬 -->
   	<select id="selectReviewInfoSortGenre" parameterType="String" resultType="com.younggam.app.vo.ReviewInfoVO">
      	select count(rc_num) rc_count, r.*, u.*
		from user_info u inner join review_info r on u.ui_id = r.ui_id
				left outer join review_comment c on r.ri_num = c.ri_num
		where r.ri_genre like concat ('%', #{genre}, '%') 
		group by r.ri_num
			<choose>
				<when test='sort == "old"'>
					order by r.ri_credate asc
				</when>
				<otherwise>
					order by r.ri_credate desc
				</otherwise>
			</choose>
   	</select>
   
   	<!-- 리뷰 한 개 출력 -->
   	<select id="selectReviewInfo" resultType="com.younggam.app.vo.ReviewInfoVO">
      	select count(rc_num) rc_count, r.*, u.*
		from user_info u inner join review_info r on u.ui_id = r.ui_id
			left outer join review_comment c on r.ri_num = c.ri_num
		where r.ri_num = #{riNum}
		group by r.ri_num
   	</select>
   	
   	<!-- 리뷰 들어올 때 조회수 올라가기 -->
   	<update id="updateReviewInfoVeiwCnt">
   		update review_info 
   			set ri_view_cnt = ri_view_cnt + 1 
   		where ri_num = #{riNum};
   	</update>
   	
   	<!-- 리뷰 등록 -->
   	<insert id="insertReviewInfo">
   	  	insert into review_info(ri_content, ui_id, ri_movie_id, ri_star, ri_direction_point, ri_acting_point, ri_story_point, ri_visual_point, ri_ost_point, ri_genre, ri_spoil) 
      	values (#{riContent}, #{uiId}, #{riMovieId}, #{riStar}, #{riDirectionPoint}, #{riActingPoint}, #{riStoryPoint}, #{riVisualPoint}, #{riOstPoint}, #{riGenre}, #{riSpoil})
   	</insert>
   
   	<!-- 리뷰 수정 -->
 	<update id="updateReviewInfo">
 		update review_info 
 			set ri_content = #{riContent}, 
 				ri_star = #{riStar}, 
 				ri_direction_point = #{riDirectionPoint},
 				ri_acting_point = #{riActingPoint},
 				ri_story_point = #{riStoryPoint},
 				ri_visual_point = #{riVisualPoint},
 				ri_ost_point = #{riOstPoint},
 				ri_spoil = #{riSpoil},
 				ri_update_date = now()
		where ri_num = #{riNum}
 	</update>
   
   <!-- 리뷰 삭제 -->
   <delete id="deleteReviewInfo">
   		delete from review_info where ri_num = #{riNum}
   </delete>

   
   <!-- 해당 사용자의 리뷰 정보를 조회 -->
   <select id="selectUserReviewInfos" resultType="com.younggam.app.vo.ReviewInfoVO">
      select count(rc_num) rc_count, r.*, u.*
		from user_info u inner join review_info r on u.ui_id = r.ui_id
		left outer join review_comment c on r.ri_num = c.ri_num
		where u.ui_nickname = #{uiNickname}
		group by r.ri_num
		order by r.ri_credate desc
   </select>

</mapper>