<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.younggam.app.mapper.ReviewCommentMapper">

	<!-- 하나의 리뷰에 달린 댓글 가져오기 -->
	<select id="selectReviewComment" resultType="com.younggam.app.vo.ReviewCommentVO">
		select u.*, c.* 
		from user_info u, review_comment c 
		where u.ui_id = c.ui_id
			and ri_num = #{riNum};
	</select>

	<!-- 댓글 작성 -->
	<insert id="insertReviewComment">
		insert  into review_comment(rc_content, ri_num, ui_id) 
		values (#{rcContent}, #{riNum}, #{uiId})
	</insert>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteReviewComment">
		delete from review_comment 
		where rc_num = #{rcNum}
	</delete>
	
	<!-- 나의 댓글 가져오기 -->
	<select id="selectUserReviewComment" resultType="com.younggam.app.vo.ReviewCommentVO">
		select u.*, c.*, r.*
		from user_info u inner join review_comment c on u.ui_id = c.ui_id
	    left outer join review_info r on c.ri_num = r.ri_num
		where ui_nickname = #{uiNickname}
	    order by c.rc_credate desc
	</select>
	
	
</mapper>