<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.younggam.app.mapper.ReviewInfoMapper">

	<select id="selectReviewInfos" resultType="com.younggam.app.vo.ReviewInfoVO">
		select r.ri_num, r.ri_content, r.ri_credate, r.ri_star, r.ri_like_cnt, r.ri_update_date, r.ri_movie_id, r.ri_spoil, u.ui_id, u.ui_nickname, u.ui_file_path
		from review_info r, user_info u
		where r.ui_id = u.ui_id
	</select>
	
	<insert id="insertReviewInfo">
		insert into review_info(ri_content, ui_id, ri_movie_id, ri_star, ri_direction_point, ri_acting_point, ri_story_point, ri_visual_point, ri_ost_point, ri_genre, ri_spoil) 
		values (#{riContent}, #{uiId}, #{riMovieId}, #{riStar}, #{riDirectionPoint}, #{riActingPoint}, #{riStoryPoint}, #{riVisualPoint}, #{riOstPoint}, #{riGenre}, #{riSpoil})
	</insert>



</mapper>