<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.younggam.app.mapper.UserInfoMapper">
	
	<!-- 회원 가입 -->
	<insert id="insertUserInfo">
		INSERT INTO user_info(ui_id, ui_nickname, ui_password, ui_email)
		VALUES(#{uiId}, #{uiNickname}, #{uiPassword}, #{uiEmail})
	</insert>
	
	<!-- 아이디 중복 조회 + 회원 정보 상세 -->
	<select id="selectUserInfoByUiId" resultType="com.younggam.app.vo.UserInfoVO" >
		SELECT * FROM user_info
		WHERE ui_id = #{uiId}
	</select>
	
	<!-- 닉네임 중복 조회 -->
	<select id="selectUserInfoByUiNickname" resultType="com.younggam.app.vo.UserInfoVO">
		SELECT * FROM user_info
		WHERE ui_nickname = #{uiNickname}
	</select>
	
	
	<!-- 로그인 -->
	<select id="selectUserInfo" resultType="com.younggam.app.vo.UserInfoVO">
		SELECT * FROM user_info
		WHERE ui_id = #{uiId}
		AND ui_password = #{uiPassword}
	</select>

	<!-- 회원 탈퇴 + 회원 삭제 -->
	<delete id="deleteUserInfo">
		DELETE FROM user_info
		WHERE ui_id = #{uiId}
	</delete>
	
	<!-- 정보수정 -->
	<update id="updateUserInfo">
		UPDATE user_info
		SET ui_file_path = #{uiFilePath}
		WHERE ui_id = #{uiId}
	</update>
	
	<!-- 닉네임 -->
	<update id="updateUserNickname">
		UPDATE user_info
		SET ui_nickname = #{uiNickname}
		WHERE ui_id = #{uiId}
	</update>
	<!-- 비밀번호 -->
	<update id="updateUserPassword">
		UPDATE user_info
		SET ui_password = #{uiPassword}
		WHERE ui_id = #{uiId}
	</update>
	<!-- 이메일 -->
	<update id="updateUserEmail">
		UPDATE user_info
		SET ui_email = #{uiEmail}
		WHERE ui_id = #{uiId}
	</update>
	
	
	<!-- 내 리뷰 목록 -->
	<select id="selectMyreviews" resultType="com.younggam.app.vo.UserInfoVO">
		SELECT ui.*, ri.*
		FROM user_info ui, review_info ri
		WHERE ui.ui_id = ri.ui_id AND ui.ui_id = #{uiId}
	</select>
	
	
<!-- 관리자 회원 관리 -->
<!-- 유저 페이징 목록 + 검색 -->
<select id="selectUserInfosByAdmin" resultType="com.younggam.app.vo.UserInfoVO">
	select * from User_info
	<where>
	<if test='uiId != null and uiId != ""'>
		ui_id like concat('%', #{uiId}, '%')
	</if>
	<if test='uiNickname != null and uiNickname != ""'>
		and ui_nickname like concat('%', #{uiNickname}, '%')
	</if>
	</where>
	order by ui_id desc
</select>

<!-- 회원 수정 -->
<update id="updateUserByAdmin">
	update User_info 
	set ui_nickname = #{uiNickname},
	ui_password = #{uiPassword}
	<if test='uiFilePath != null and uiFilePath != ""'>
	, ui_file_path = #{uiFilePath}
	</if>
	, ui_email = #{uiEmail}, ui_review_point = #{uiReviewPoint},
	ui_active = #{uiActive}, ui_report_cnt = #{uiReportCnt}
	where ui_id = #{uiId}
</update>

<!-- 비활성화 계정 회원 목록 + 페이징 + 검색 -->
<select id="selectInactiveUsers" resultType="com.younggam.app.vo.UserInfoVO">
	select * from User_info
	<where>
	<if test='uiId != null and uiId != ""'>
		ui_id like concat('%', #{uiId}, '%')
	</if>
	<if test='uiNickname != null and uiNickname != ""'>
		and ui_nickname like concat('%', #{uiNickname}, '%')
	</if>
		and ui_active = 0
	</where>
	order by ui_id desc
</select>

<!-- 회원 삭제 -->
	<delete id="dropoutUser">
		delete from User_info
		where ui_id = #{uiId}
	</delete>


<!-- 리뷰 작성 시 포인트 지급 -->
	<update id="updateUserInfoReviewPoint">
		update user_info 
			set ui_review_point = ui_review_point + 20 
		where ui_id= #{uiId};
	</update>


</mapper>